/*SUMMARY 

    1- GENERAL
    2- BACKGROUND IMAGE
    3- INTRO
    4- IMAGE
    5- BLOG ARTICLE
    6-CONTACT

*/

/* 1- GENERAL */

html, body {
    margin: 0;
    padding: 0;
}

h1,h2, h3, h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	color: #787878;
	font-size: 1.5em;
	line-height: 1em;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1em;
	line-height: 1.5em;
    color: #787878;
}

.grid-container-body {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: auto;
	grid-template-areas: 	"bg-img content";
	grid-column-gap: 50px;
}

/*2- BACKGROUND IMAGE*/

.bg-image {
	grid-area: bg-img;
	background-image: url(../image/landscape.jpg);
	background-position: center;
    background-color: black;
    background-size: cover;
/*    background-size: auto 100%;*/
    /*background-repeat: no-repeat;*/
    background-attachment: scroll, fixed;
    height: 100%;

}

.bg-image h1 {
	font-family: 'Source Sans Pro', sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-size: 2em;
/*    font-weight: 600*/
    line-height: 1.75em;
    display: flex;
    justify-content: center;
    margin-top: 8em;
}

.navbar ul {
    list-style: none;
    display: block;
    margin-top: 2em;
    
}

.navbar ul a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 1.7em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    display: block;
    float: right;
    margin-right: 2.5em;
    
/*
    text-decoration:none;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 10px 5px 5px grey;
    width: auto;
    height: auto;
    background-color: #148f77;
*/
  text-decoration:none;
  background-color: #148f77;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 0px 40px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  line-height: 2.7em;
  font-weight: 600;
  font-size: 1em;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.copyright {
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    color:white;
    position: fixed;
}

/*3- INTRO*/

.content {
    grid-area: content;
    background-color: #fff;
    margin-right: 10%;
}

.grid-container-content {
    display: grid;
    grid-template-rows: 200px 1fr repeat(2,minmax(250px,auto));
    grid-template-areas:    "intro"
                            "img"
                            "blog-article"
                            "contact";
    margin-top: 10%;
}

.intro {
	grid-area: intro;
	text-align: justify;
    border-bottom: 1px solid rgba(120, 120, 120, 0.87);
}

.intro h2 {
    font-size: 2em;
    line-height: 1.5em;
}

/*4- IMAGE*/

.image-content {
    grid-area: img;
    border-bottom: 1px solid rgba(120, 120, 120, 0.87);
}

.grid-container-img {
    display: grid;
    grid-template-rows: repeat(3,minmax(1fr,auto));
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 	"img1 img2"
    						"img3 img4"
    						"img5 img6";
}


.img img {
    display:block;
    height: 70%;
    width: 80%;
    border-radius: 10px; 
    margin: auto;
}


/*5- BLOG ARTICLE*/

.blog-article {
    grid-area: blog-article;
    border-bottom: 1px solid rgba(120, 120, 120, 0.87);
}

.blog-article ol {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3em;
}

.blog-article ol a {
    font-family: 'Source Sans Pro', sans-serif;
/*    font-size: 1.5em;*/
    text-decoration: none;
    color: #1440ba;
}

.blog-article ol a:hover {
    text-decoration: underline
}

/*6- CONTACT*/
.contact {
    grid-area: contact;
}

.grid-container-contact {
    display: grid;
    grid-template-columns: 50% 40%;
    grid-template-rows: auto;
    grid-template-areas:    "form adress"
}

.form {
    grid-area: form;
    
}

.adress ul {
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
}

.adress ul a{
    text-decoration: none;
    color: #787878;
}

label {
    font-family: 'Source Sans Pro', sans-serif;
}

input[type=text], input[type=email], textarea {
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    background-color: #148f77;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.adress {
    grid-area: adress;
}

