/* 1- GENERAL */

html, body {
    margin: 0;
    padding: 0;
}

h1,h2, h3, h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  color: #787878;
  font-size: 2em;
  line-height: 1em;
}

h1 a {
  text-decoration: none;;
}

a {
  color: black;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  color: #787878;
}

.grid-container-body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:  "bg-img content";
  grid-column-gap: 50px;
}

/*2- BACKGROUND IMAGE*/

.bg-image {
    grid-area: bg-img;
    background-image: url(../image/silouhette-photo.jpeg);
    background-position: center;
    background-color: black;
    background-size: cover;
/*    background-size: auto 100%;*/
    /*background-repeat: no-repeat;*/
    background-attachment: scroll, fixed;
}

.bg-image h1 {
  font-family: 'Source Sans Pro', sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-size: 2em;
    line-height: 1.75em;
    display: flex;
    justify-content: center;
    margin-top: 6em;
}

.navbar ul {
    list-style: none;
    display: block;
    margin-top: 2em;
    
}

.navbar ul a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 1.7em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    display: block;
    float: right;
    margin-right: 2.5em;
    
/*
    text-decoration:none;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 10px 5px 5px grey;
    width: auto;
    height: auto;
    background-color: #148f77;
*/
  text-decoration:none;
  background-color: #148f77;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 0px 40px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  line-height: 2.7em;
  font-weight: 600;
  font-size: 1em;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}


.copyright {
  font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    color:white;
    position: fixed;
}

/*CONTENT*/
.content {
    grid-area: content;
    background-color: #fff;
    margin-right: 10%;
}

.grid-container-content {
    display: grid;
    grid-template-rows: repeat(6,minmax(1fr,auto));
    grid-template-areas:    "article1"
                            "article2"
                            "article3"
                            "article4"
                            "article5"
                            "article6";
    margin-top: 10%;  
    grid-row-gap: 30px;
    margin-bottom: 30px;
}

.article h2::after {
    display: block;
    height: 2px;
    background-color: #bf1414;
    width: 100px;
    content: "";
/*    margin: auto;*/
    margin-top: 10px;
}

.border {
  border: 3px outset rgba(168, 23, 102, 0.84);
  width: auto;
  height: auto;
}

.img-laos1, .img-vtnam, .img-thai {
  width: 100%;
}

.col {
  text-align: center;
}

.col p {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: justify;
    padding: 10px;
}

.col a {
  font-family: 'Source Sans Pro', sans-serif;
  color: blue;
  text-decoration: none;
}

.mtop {
    margin-top: 50px;
}

 /* ARTICLE 1 LAOS*/
.article1 {
    grid-area:article1;
}

.grid-article1{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  grid-template-areas:  "col1 col2 col3";
  grid-column-gap: 20px;
}

.col1 {
  grid-area: col1;
}

.col2 {
  grid-area: col2;
}

.col3 {
  grid-area: col3;
}


/*ARTICLE 2 VIETNAM */
.article2 {
    grid-area:article2;
}

.grid-article2 {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  grid-template-areas:  "col4 col5 col6";
  grid-column-gap: 20px;
}

.col4 {
  grid-area: col4;
}

.col5 {
  grid-area: col5;
}

.col6 {
  grid-area: col6;
}


/*ARTICLE 3 THAILANDE*/
.article3 {
    grid-area:article3;
}

.grid-article3 {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  grid-template-areas:  "col7 col8 col9";
  grid-column-gap: 20px;
}

.col7 {
  grid-area: col7;
}

.col8 {
  grid-area: col8;
}

.col9 {
  grid-area: col9;
}

/*ARTICLE 4 JAPON*/
.article4 {
    grid-area:article4;
}

.grid-article4 {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  grid-template-areas:  "col10 col11 col12";
  grid-column-gap: 20px;
}

.col10 {
  grid-area: col10;
}

.col11 {
  grid-area: col11;
}

.col12 {
  grid-area: col12;
}

/*ARTICLE 5 CHINE*/
.article5 {
    grid-area:article5;
}

.grid-article5 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-template-areas:  "col13 col14 col15";
    grid-column-gap: 20px;
}

.col13 {
    grid-area: col13;
}

.col14 {
    grid-area: col14;
}

.col15 {
    grid-area: col15;
}

/*ARTICLE 6 SINGAPOUR*/
.article6 {
    grid-area:article6;
}

.grid-article6 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-template-areas:  "col16 col17 col18";
    grid-column-gap: 20px;
}


.col16 {
    grid-area: col16;
}

.col17 {
    grid-area: col17;
}

.col18 {
    grid-area: col18;
}
